h1 {
    text-align: center;
    color: crimson;
}

div {
    position: relative;
    width: 30%;
    border: 3px solid firebrick;
    top: 120px;
    left: 100px;
}

.estilos_div {
    position: relative;
    width: 30%;
    border: 3px solid firebrick;
    top: 96px;
    left: 590px;
}